body{
 
    background-color: black;
    color: white;



}

.screen{

width: 300px;
/* margin-right: 10%;
margin-left: 10%; */

background-color: darkolivegreen;

/* border-radius: 10px 10px; */

text-align:right;
vertical-align: text-bottom;
margin-left: auto;
margin-right: auto;
padding-right: 2%;

}

.heading{

text-align: center;


}

.value{

opacity: 1;
font-size: 30px;
font-family: 'Courier New', Courier, monospace;

}

.buttons{

    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}

.container{
display: flex;
flex-direction: column;

}

.but{

width: 70px;
height: 50px;

}